@mixin arrow($width, $height, $borderWidth, $borderColor, $translateX, $rorateZ) {
  position: absolute;
  width: $width;
  height: $height;
  top: 50%;
  border-top: $borderWidth solid $borderColor;
  border-left: $borderWidth solid $borderColor;
  transform: translate($translateX, -50%) rotateZ($rorateZ);
}