<div class="modal" id="js-modal">
  <div class="modalWrapper">
    <div class="modalInner js-modalClose" id="js-modalInner">
      <div class="modalContent" id="js-modalContent">
        <div class="modalContent_inner">
          <div class="modalContent_container">
            <%_ for ( var i = 0; i < 20; i++ ) { _%> 
              <p class="modalContent_text">モーダルの中身</p>
            <%_ } _%>
              <button class="modalClose_button js-modalClose">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modalOverlay" id="js-modalOverlay"></div>